@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
}


.popover .close { position: absolute; top: 7px; right: 10px; }

h3 {
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.9;
}

#selection-controls label {
    display: block;
}

#selection-controls input {
    display: block;
    vertical-align: middle;
    margin: 0px;
}
div.tooltip {
    position: absolute;
    text-align: center;
    height: 28px;
    padding: 2px;
    opacity: 0.8;
    /* font: 12px ; */
    background: lightsteelblue;
    border: 0px;
    border-radius: 1px;
    pointer-events: none;
}

/* drag selection */
rect.selection {
    cursor: move !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    stroke: #545454;
    stroke-width: 2px;
    stroke-opacity: 1;
    fill: white;
    fill-opacity: 0.1;
}

svg image {
    pointer-events: none;
}

.btn {
    -moz-box-shadow:    inset 0 0 5px #ddd;
    -webkit-box-shadow: inset 0 0 5px #ddd;
    box-shadow:         inset 0 0 5px #ddd;
}

.btn.active {
    -moz-box-shadow:    inset 5px 5px 5px #333;
    -webkit-box-shadow: inset 5px 5px 5px #333;
    box-shadow:         inset 5px 5px 5px #333;
}

img {
    pointer-events: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
