@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
}


.popover .close { position: absolute; top: 7px; right: 10px; }

h3 {
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.9;
}

#selection-controls label {
    display: block;
}

#selection-controls input {
    display: block;
    vertical-align: middle;
    margin: 0px;
}
div.tooltip {
    position: absolute;
    text-align: center;
    height: 28px;
    padding: 2px;
    opacity: 0.8;
    /* font: 12px ; */
    background: lightsteelblue;
    border: 0px;
    border-radius: 1px;
    pointer-events: none;
}
