<configuration scan="true" debug="false">

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>watrshed-run.log</file>
    <append>true</append>

    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>

    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
    </encoder>

    <encoder>
      <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>


  <logger name="com.zaxxer.hikari.pool" level="INFO" />

  <logger name="org.http4s" level="INFO" />

  <logger name="org.apache" level="INFO" />
  <logger name="org.apache.pdfbox" level="INFO" />
  <logger name="org.apache.pdfbox.pdmodel.font" level="OFF" />


  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>


</configuration>
