<configuration scan="true" debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
    </encoder>

    <encoder>
      <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="akka" level="OFF" />

  <logger name="net.sf.jsi.rtree" level="OFF" />
  <logger name="com.zaxxer.hikari.pool" level="INFO" />

  // Suppress "rebuilding pdf x-ref table" errors
  <logger name="com.itextpdf.kernel.pdf" level="OFF" />

  <root level="trace">
    <appender-ref ref="STDOUT" />
  </root>


</configuration>
